* {
    margin: 0;
    padding: 0;
    box-decoration-break: clone;
}

#container-login1 {
    background: url('img-back.jpeg ');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background: rgba(255, 255, 255, 0.1); /* Blanco con trasnparencia */
    backdrop-filter: blur(10px); /* Desenfoca lo de atras */
    padding: 60px 40px;
    gap: 25px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 15px;
    width: 320px;
}

#text-main {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.box-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 17px;
}

.box-label {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    padding: 5px 0;
    outline: none;
    color: white;
    width: 100%;
}

.box-label::placeholder {
    color: rgba(255, 255, 255, 0.7)
}

.box-label:focus {
    border-bottom: 2px solid white;
}

.box-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

#btn-login {
    background: rgba(177, 175, 175, 0.527);
    width: 100%;
    border: none;
    border-radius: 25px;
    padding: 15px 0;
    color: white;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
    transition: opacity 0.3s;
}

#btn-login:hover {
    opacity: 0.9;
}

#btn-register {
    background: rgba(36, 35, 35, 0.219);
    width: 100%;
    border: 2px solid white;
    border-radius: 25px;
    padding: 15px 0;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
    transition: opacity 0.3s;
}